* {
    box-sizing: border-box;
}


.container {
    width: 900px;
}


.btn_delete {
    float: right;
}

.form-control {
    margin-right: 10px;
}

.el_check {
    margin-right: 10px;
}

.in_edit {
    background: lightpink;
}